.login-form{
    display: flex;
    flex-direction: column;
    min-height:100vh;
    align-items: center;
    justify-content: center;
}

.nav_user{
    border-radius: 3px;
    border: 1px solid rgb(10, 10, 10);
    padding: 15px;
    text-align: center;
    background-color: rgb(96, 143, 244);
    color: whitesmoke;
    font-weight: 800;
    margin: 0 3em;
}

.logoutButtonuser{
    position: absolute;
    top: 1%;
    right: 60px;
    background-color: rgb(21, 18, 212);
    background: silver;
    
}
.cl{
    background-color: rgb(179, 225, 240);
    border-radius: 15px;
    margin-top: 15px;
    padding: 15px;
}


.course_list_item{
    padding: 15px;
    cursor: pointer;
    background-color: rgba(64, 215, 226, 0.747);
    color: rgb(14, 13, 13);
    border-radius: 5px;
    margin: 3px 0;
}
.course_list_item_not_selected{
    padding: 15px;
    cursor: pointer;
    margin: 3px 0;
}
.course{
    border: 1px solid;
}
.description{
    border: 1px solid;
}
.opp_sub{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.descr{
    background-color: silver;
    border-radius: 15px;
    margin-top: 15px;
    padding: 15px;
}
.descr h3{
    color: rgb(4, 8, 6);
    background-color: snow;
    border-radius: 5px;
    padding: 5px;
}
.hh{
    color: rgb(87, 49, 136);
}

.head{
    color: rgb(2, 15, 8);
    background-color: snow;
    border-radius: 5px;
    padding: 5px;
}
.college{
    background-color: silver;
    border-radius: 15px;
    margin-top: 15px;
    padding: 15px;
}
.colle h3{
    color: rgb(1, 10, 5);
    background-color: snow;
    border-radius: 5px;
    padding: 5px;
}
.pencil{
    position: absolute;
    right: 2em;
    top: 2em;
}


.submitcourses{
    border: 1px solid rgb(10, 10, 10);
    background-color: rgb(236, 240, 241);
    text-align:center;
    position: absolute;
    top: 70px;
    right: 50px;

}